html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 5px solid rgb(225, 225, 225);
    padding: 0 25px;
    padding-bottom: 25px;
}

#user-avatar {
    margin: auto 15px;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.post-user-name {
    font-weight: 700;
    font-size: 1.875rem;
    margin-bottom: 0px;
}

.post-location {
    font-size: 1.5625rem;
    margin-top: 0;
}

#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content {
    border-radius: 8px;
    max-width: 526px;
    max-height: 702px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.engagement-line {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 20px;
    margin-top: 10px;
}

.engagement-icon {
    width: 50px;
    height: 50px;
}

.engagement-icon:hover,
.engagement-icon:focus {
    opacity: 0.6;
}

.post-likes,
.post-user-id {
    font-weight: 700;
    font-size: 1.25rem;
}

.post-likes,
.post-comment {
  margin-left: 20px;
}

.post-likes {
    margin-bottom: 6px;
}

.post-comment {
    margin-top: 0px;
}